{% include('partial/header.html.twig') %}

<main>

    <h1>Le super blog de la piscine</h1>

    <section id="articles">

	    <h2>Les derniers articles</h2>

	    	{% for article in articles %}

                <article>
                    <h2>{{article.title}}</h2>
                    <!-- génère un lien pour accéder à la page qui affiche un article, en ajoutant l'id de l'article à la fin de l'url -->
                    <a href="http://localhost/php/blog-piscine/public/show-article?id={{article.id}}">
                        Afficher l'article
                    </a>
                    <a href="http://localhost/php/blog-piscine/public/delete-article?id={{article.id}}">
                        Supprimer l'article
                    </a>
                </article>


            {% endfor %}

        </section>
        
    </main>

{% include('partial/footer.html.twig') %}