*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

                                    /* HEADER */
#navHeader{
    height: 15vh;
    background-color: beige;
    padding: 30px;
}

#ulHeader{
    display: flex;
    justify-content: space-around;
}

.liHeader{
    color: brown;
}
                                    /* MAIN */


#h1Main{
    text-align: center;
    color: red;
    padding: 30px;
}

#h2Main{
    text-align: center;
    padding: 30px;
}

.flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.articleBDD{
    background-color: brown;
    width: 30%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.8s ease;
}

.articleBDD:hover{
    color: rgb(229, 196, 89);
    transform: scale(1.2);
}

                                    /* FOOTER */

footer{
    background-color: beige;
    height: 15vh;
    padding: 30px;
}


#ulFooter{
    display: flex;
    justify-content: space-around;
}